section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F0F0F0;
}

.curva{
    display: flex;
    width: 100%;
    background-color: #FAFAFA;
}

.curvaMovil{
    display: none;
}

.curvaMovil{
    display: none;
}

.hero{
    display: flex;
    padding: 2rem 7rem;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    align-self: stretch;
    box-sizing: border-box;
    overflow: hidden;
}

.composicion{
    width: 33rem;
    height: 33rem;
    position: relative;
    text-align: center;
}

.composicion img{
    position: absolute;
}

.tierra{
    width: 16rem;
    height: 16rem;
    flex-shrink: 0;
    left: 30%;
    transform: translateX(-50%);
    top: 35%;
    z-index: 1;
}

.banderas{
    width: 23rem;
    height: auto;
    flex-shrink: 0;
    left: -10%;
    z-index: 2;
}

.pinGrande{
    width: 7.4rem;
    height: 7.4;
    flex-shrink: 0;
    left: 43%;
    top: 23%;
    z-index: 2;
}

.pinChico{
    width: 5rem;
    height: auto;
    flex-shrink: 0;
    top: 40%;
    left: 55%;
    z-index: 2;
}

.camion{
    width: 25rem;
    height: auto;
    flex-shrink: 0;
    left: 0;
    transform: translateX(-5%);
    bottom: -12%;
    z-index: 2;
}

.texto{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

section h1{
    color: #333;
    font-family: Nunito;
    font-size: 2.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.75rem;
}

.texto p{
    color: #333;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}

#bajada{
    font-weight: 700;
}

.logos{
    display: flex;
    height: 2.5rem;
    justify-content: center;
    align-items: flex-end;
    gap: 0.84313rem;
}

.btn{   
    display: flex;
    height: 3rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #E41E1E;
    border-radius: 0.5rem;
    border: #E41E1E;
}

button .textoBtn{
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375rem;
    color: #F6F9FC;
    text-align: center;
}
.play{
    width: 1rem;
    height: 1rem;
}

.modal {
    position: fixed;
    top: 10%;
    left: 5%;
    right: 'auto';
    bottom: 'auto';
    width: 90%;
    height: 80%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    z-index: 999;
}
.modalContent {
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.closeButton {
    position: absolute;
    top: -6%;
    right: 10px;
    width: 15rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.closeButton p{
    margin-right: 0.5rem;
}
.circulo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #F6F7FB;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
}
.circulo svg{
    width: 0.7rem;
    height: inherit;
    z-index: 5;
}

@media (max-width: 768px) {
    .hero{
        flex-direction: column;
        gap: 0;
        padding: 1rem 0;
    }

    section h1{
        font-size: 1.5rem;
    }

    .curvaMovil{
        display: block;
        width: 100%;
    }
    .curvaWeb{
        display: none;
    }
    .composicion{
        width: 33rem;
        height: 22rem;
        position: relative;
        text-align: center;
    }

    .logos{
        display: flex;
        align-items: flex-end;
        gap: 0rem;
    }

    .texto{
        justify-content: flex-start;
        width: 85%;
        padding: 0 1rem 0 1.5rem;
        max-width: 100%;
    }

    .texto p{
        font-style: normal;
        font-weight: 400;
        line-height: 1.375rem;
        text-align: justify;
    }

    .tierra{
        width: 9rem;
        height: auto;
        flex-shrink: 0;
        left: 45%;
        transform: translateX(-50%);
        top: 40%;
        z-index: 1;
    }
    .banderas{
        width: 19rem;
        height: auto;
        top: -12%;
        left: 18%;

    }
    .pinGrande{
        width: 5rem;
        height: auto;
        left: 55%;
        top: 28%;
    }
    .pinChico{
        width: 3rem;
        height: auto;
        top: 42%;
        left: 65%;
    }
    .camion{
        width: 15rem;
        height: auto;
        left: 25%;
        top: 48%;
        transform: translateX(-5%);

    }
    .btn{   
        width: 100%;
        margin-top: 1rem;
    }
    .modal{
        height: 30%;
    }
}