*{
    border: none;
}
.heroContainer{
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.box {
    display: flex;
    padding: 0 0 2rem 0;
}  

.text{
    padding-left: 8rem;
    flex:7;
    display: flex;
    flex-direction: column;
    z-index: 2000;
}
.text img{
    width: 68%;
    margin-left: 8rem;
    height: auto;
    object-fit: contain;
}

.text h3 {
    font-size: 1.4rem;
    color: #333;
}

.img{
    flex: 5;
    position: relative;
    transform: translateY(10%);
    min-height: 400px;
}

.img img {
    position: absolute;
    width: 130%;
    z-index: 2;
    max-width: 650px;
    object-fit: contain;
    transform: translateX(-25%);
}

#camion{
    z-index: 1;
}

.curvaDesktop{
    height: 9%;
    z-index: 2;
    opacity: 1;
}
.curvaMovil{
    display: none;
}

.buttonprimarydefault {
    width: 85%;
    border-radius: 0.5rem;
    background-color: #e41e1e;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 0.5rem;
    color: #f6f9fc;
}

.reproducirvideo {
    font-size: 1.3rem;
    line-height: 1.4rem;
    color: #f6f9fc;
    text-align: center;
}

.modal {
    position: fixed;
    top: 10%;
    left: 5%;
    right: 'auto';
    bottom: 'auto';
    width: 90%;
    height: 70%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    z-index: 999;
}
.modalContent {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    border: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.closeButton {
    position: absolute;
    top: -4%;
    right: 10px;
    width: 15rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.closeButton p{
    margin-right: 0.5rem;
}
.circulo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #F6F7FB;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
}
.circulo svg{
    width: 0.7rem;
    height: inherit;
    z-index: 5;
}

@media (max-width: 768px) {
    .box {
        flex-direction: column;
        padding: 0;
        height: 70rem;
    }
    
    .img {
        order: -2;
        padding: 0rem;
        margin: 0;
    }
    .img img {
        top: -10%;
        right: 0;
        width: 100%;
        scale: 1;
        transform: translateX(-5%);
    }    
    
    .text{
        background-color: #FAFAFA;
        margin-left: 0rem;
        padding: 1rem 1rem 2rem 2rem;
        flex:0;
    }

    .text h1{
        margin: 1.5rem 0;
        font-size: 2rem;
        line-height: 1.2;
        max-width: 500px;
    }
    .text img{
        width: 28rem;
        height: auto;
        margin-left: 0;
    }
    .curvaMovil{
        display: block;
        z-index: 5000;
    }
    .buttonprimarydefault{
        width: 100%;
        height: 2.8rem;
    }
    .reproducirvideo {
        font-size: 1.2rem;
    }
    .curvaDesktop{
        display: none;
    }
    .modal{
        height: 30%;
    }
    .closeButton {
        top: -10%;
    }
}
@media (max-width: 640px) {
    .img img {
        top: -5%;
        right: -5%;
        max-width: 500px;
    } 
}
@media (min-width: 640px) and (max-width: 768px) {
    .img img {
        top: -10%;
        right: 15%;
        max-width: 500px;
    } 
}
@media(min-width: 768px) and (max-width: 1024px){
    .box{
        padding: 2rem 0;
    }
    .text img{
        width: 100%;
        margin-left: 0;
        height: auto;
        object-fit: contain;
    }
    .reproducirvideo {
        font-size: 1.1rem;
    }
}

@media (min-width: 1536px) {
    .img img{
        right: -10%;
        top: -65%;
    }
    .box {
        padding: 0rem 10rem 8rem 10rem;
        height: 40rem;
    }
}

/*
    .box {
        flex-direction: column;
        padding: 0;
        height: 78rem;
    }
    .img {
        order: -2;
        padding: 0rem;
        object-fit: contain;
    }
    .img img {
        top: -150%;
        right: 15%;
        width: 70%;
    }    
    .text{
        background-color: #FAFAFA;
        padding: 1rem 3rem;
        z-index: 3;
        margin-left: 0rem;
    }
    .text h1{
        margin: 1.5rem 0;
        font-size: 2rem;
        line-height: 1.2;
    }
    .text, .img {
        flex-basis: 100%;
    }
    .text img{
        width: 95%;
    }

    .curvaMovil{
        display: block;
        z-index: 3;
    }
    .curvaDesktop{
        display: none;
    }
    .heroContainer svg{
        height: 100;
    }
    .buttonprimarydefault{
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
    }
    .reproducirvideo {
        font-size: 1.2rem;
    }
    .modal{
        height: 30%;
    }
    .closeButton {
        top: -10%;
    }

*/